body {
  font-family: Helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
  color: #CCC
}
#wrapper {
  margin: 0 20px;
  min-height: 800px;
  position: relative;
  nav {
    padding: 15px 10px;
    a {
      margin: 3px 5px 3px 0px;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
  }
  .main {
    padding: 10px;
    min-height: 450px;
  }
  footer {
    position: absolute;;
    text-align: right;
    width: 100%;
    min-height: 30px;
    padding: 5px 10px;
    bottom: 0;
  }
}

.photo {
  margin: 5px;
  position: relative;
  padding: 4px;
  display: inline-block;
  font-size: .9rem;
  max-width: 120px;
  text-align: center;
  vertical-align: top;
  .photoData {
    text-align: left;
    label {
      font-weight: bold;
    }
  }
  img {
    border: 2px solid #fff;
    margin: 2px 3px 8px;
  }
  img.h:hover {
    box-shadow: 0 0 5px 5px rgba(0,50,150,.55);
  }
}
