body {
  font-family: Helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #ccc;
}
#wrapper {
  margin: 0 20px;
  background: white;
  min-height: 800px;
}
nav {
  padding: 15px 10px;
}
nav a {
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
}
.photo {
  margin: 5px;
  border: 1px solid #CCC;
  max-width: 250px;
  padding: 4px;
  display: inline-block;
  font-size: .9rem;
  text-align: center;
}
.photo .photoData {
  text-align: left;
}
.photo .photoData label {
  font-weight: bold;
}
.photo img {
  border: 5px solid #000;
  margin: 8px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
  border-radius: 7px;
}
.photo img:hover {
  box-shadow: 0 0 5px 5px rgba(0,50,150,.75);
}
footer {
  font-size: .75rem;
  padding: 5px 10px;
}
