<div id="wrapper">
  <nav>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'photos'}}Photos{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </nav>
  <div class="main">
    {{outlet}}
  </div>
  <footer>
    <small>&copy;2015 Crosby</small>
  </footer>
</div>
