<table>
  <tr>
    <td><label for="payload">PAYLOAD:</label></td>
    <td><label for="result">RESULT:</label></td>
  </tr>
  <tr>
    <td><textarea id="payload" rows="25" cols="30" /></td>
    <td><textarea id="result" rows="25" cols="30" /></td>
  </tr>
</table>
{{outlet}}
